ul>li:nth-of-type(6)>section {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    filter: blur(10px) contrast(20);
}

ul>li:nth-of-type(6)>section>div {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    background: #000;
    transform: translate(-50%, -50%);
}

ul>li:nth-of-type(6)>section>div:first-of-type {
    left: 30%;
    animation: ani-1 3s ease infinite
}

ul>li:nth-of-type(6)>section>div:last-of-type {
    left: 70%;
    animation: ani-2 3s ease infinite
}

@keyframes ani-1 {
    0% {
        left: 30%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 30%;
    }
}

@keyframes ani-2 {
    0% {
        left: 70%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 70%;
    }
}