*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --background: rgb(255, 244, 219);
    --border: rgb(138, 58, 4);
    

    /* li width*/
    --width:100%;
    --height: 20em;
}

body{
    width: 99vw;
    height: 100vh;
    
    display: grid;
    grid-template-rows: 10em auto;
    align-items: center;
    justify-items: center;

    background-color: var(--background);
}

div{
    align-self: center;
}

h1{
    font-family: 'Harry Potter', sans-serif;
    font-size: 4em;
    align-self:end;
    color: var(--border);
}

body div p{
    text-align: center;
    font-size: 1.2em;
    margin-top: -1em;
}

body > img{
    width: 30vh;
    position: fixed;
    bottom: 0;
    right: .5em;
    z-index: 1000;
}

ul{
    width: 90%;
    height: 90%;
    list-style: none;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 1em;
}

li{
    width: var(--width);
    height: var(--height);

    border: solid .5em var(--border);
    overflow: hidden;
}

li{
    position: relative;

    transition: .5s;

    cursor: pointer;

    display: grid;
}

li input[type="checkbox"]{
    width: 2em;
    height: 2em;
    position: absolute;
    top: .5em;
    left: .5em;
    z-index: 100;
}

li:has(input[type="checkbox"]:checked) {
    grid-column-start: 1;
    grid-column-end: -1;

    height: 75vh;
}




